---
import ToDoCard from '@/components/ToDoCard.astro';
---
<ToDoCard title="Add NavBar" description="Create a sleek navbar" footer="Using shadcn components!">
    <p>Card Content 1</p>
</ToDoCard>
<ToDoCard title="Hackathon Projects" description="Create a section of your site showcasing hackathon projects!" footer="Public Projects">
    <p>Card Content 2</p>
</ToDoCard>