---
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card"

import {CarouselDemo} from '@/components/Carousel.tsx';

const { title, description, footer } = Astro.props;
---
<Card className="mx-4 px-2 md:px-16">
    <CarouselDemo client:load/>
    <CardHeader>
        <CardTitle>{title}</CardTitle>
        <CardDescription>{description}</CardDescription>
    </CardHeader>
    <CardContent>
        <slot />
    </CardContent>
    <CardFooter>
        <p>{footer}</p>
    </CardFooter>
</Card>