---
import ToDoCards from '@/components/ToDoCards.astro';
import {NavBar} from '@/components/NavBar.tsx';
import {CarouselDemo} from '@/components/Carousel.tsx';
---

<NavBar client:load/>
<main class="flex-col items-center">
	<section>
		<article>
			<h1 class="text-4xl">
				Hello B28!
			</h1>
			<p>
				Welcome to my site, excuse the mess while I build it!
			</p>
		</article>
	</section>
	<section class="space-y-4 py-4">
		<ToDoCards />
	</section>
</main>

<style>
	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}
</style>
