---
import ToDoCards from '@/components/ToDoCards.astro';
import {NavBar} from '@/components/NavBar.tsx';
import {CarouselDemo} from '@/components/Carousel.tsx';
---

<NavBar client:load/>
<main class="flex-col items-center">
	<section class="space-y-4 py-4">
		<ToDoCards />
	</section>
</main>

<style>
	main {
		display: flex;
		justify-content: center;
	}
</style>
